/* app css stylesheet */

.board {
	padding: 20px;
}

div.place {
	position: absolute;
	border: 0px solid green;
	width: 60px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	z-index: 10;
}
div.place .liberties {
	position: absolute;
	left: 16px;
	top: 23px;
	width: 30px;
	text-align: center;
	font-size: 8pt;
	margin-top: 3px;
	display:none;
}

div.place .w {
	color: black;
}
div.place .b {
	color: white;
}

img.stone.dangerLevel1 {
	-moz-box-shadow: 0 0 5px red;
	-webkit-box-shadow: 0 0 5px red;
	box-shadow: 0px 0px 5px red;
	
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
}

img.stone.dangerLevel2 {
	-moz-box-shadow: 0 0 5px yellow;
	-webkit-box-shadow: 0 0 5px yellow;
	box-shadow: 0px 0px 5px yellow;
	
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
}

img.stone.dangerLevel3 {
	-moz-box-shadow: 0 0 3px lime;
	-webkit-box-shadow: 0 0 3px lime;
	box-shadow: 0px 0px 3px lime;
	
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
}

.stone {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 45px;
	height: 45px;
}

.stone.dead {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

.territory {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 45px;
	z-index: 2;
}

.considered {
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}







/* --- */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
