<!doctype html>
<html lang="en" ng-app="myGoApp">
<head>
	<meta charset="utf-8">
	<title>MyGo</title>
	<link rel="stylesheet" href="css/app.css"/>
</head>
<body>
	<script src="js/jQuery.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
	
	<script type="text/javascript">
		function SC(selector) {
			return angular.element(selector).scope();
		}
		
		var size;
		$(function() {
			if (SC('[ng-controller=goBoardCtrl]') != undefined) {
				size = SC('[ng-controller=goBoardCtrl]').size;
				drawBoard(size);
			}
		});
		
	    function drawBoard() {
			var canvas = document.getElementById("canvas");
			if (canvas.getContext) {
				var ctx = canvas.getContext("2d");
				
				var squareSize = 90;
				var pad = squareSize/2;
				var left = pad;
				var right = left + (size-1) * squareSize;
				var top = pad;
				var bottom = pad + (size-1) * squareSize;
				
				//draw background
				ctx.beginPath();
				ctx.fillStyle = "#F2B06D";
				var tl = {'x': left-pad, 'y': top-pad};
				var tr = {'x': right+pad, 'y': top-pad};
				var br = {'x': right+pad, 'y': bottom+pad};
				var bl = {'x': left-pad, 'y': bottom+pad};
				ctx.moveTo(tl.x, tl.y);
				ctx.lineTo(tr.x, tr.y);
				ctx.lineTo(br.x, br.y);
				ctx.lineTo(bl.x, bl.y);
				ctx.lineTo(tl.x, tl.y);
				ctx.fill();
				ctx.fillStyle = "#ff0000";
				ctx.lineWidth = 6;
				ctx.stroke();
				ctx.lineWidth = 1;
				ctx.closePath();
				
				//draw lines
				ctx.beginPath();
				ctx.fillStyle = "#000000";
				var x, y
				for (var i = 0; i < size; i++) {
					//vertical lines
					x = left + i*squareSize;
					ctx.moveTo(x, top);
					ctx.lineTo(x, bottom);
					
					//horizontal lines
					y = top + i*squareSize;
					ctx.moveTo(left, y);
					ctx.lineTo(right, y);
				}
				ctx.stroke();
				ctx.closePath();
				
				//draw dots
				var dots = [];
				if (size == 9)
					dots = [[2,2], [2,6], [6,2], [6,6], [4,4]];
				ctx.fillStyle = "#000000";
				var x, y;
				for (var i = 0; i < dots.length; i++) {
					x = dots[i][0];
					y = dots[i][1];
					ctx.beginPath();
					ctx.arc(left+x*squareSize,top+y*squareSize,5,0,Math.PI*2,true);
					ctx.fill();
					ctx.closePath();
					
				}
			}
		}
	</script>
	
	<style type="text/css">
		div.place {
			position: absolute;
			border: 0px solid green;
			width: 90px;
			height: 90px;
			text-align: center;
			vertical-align: middle;
			z-index: 10;
		}
		div.place .liberties {
			position: absolute;
			left: 31px;
			top: 37px;
			width: 30px;
			font-size: 16pt;
			text-align: center;
			color: red;
		}
		
		.stone {
			width: 50px;
			height: 50px;
			margin-top: 20px;
		}
	</style>
	{{x = 0}}
	<input type="button" ng-click="x = x + 1" value="+1"></input>
	x: {{x}}
	
	<!--
	<div class="board" ng-controller="goBoardCtrl">
		<canvas id="canvas" width="{{size*90}}px" height="{{size*90}}px"></canvas>
		
		<div class="place" ng-repeat="(i, place) in places" ng-click="placeStone(place);"
			style="left:{{place.x*90+8}}px;top:{{place.y*90+7}}px;">
			<img class="stone" ng-src="img/{{place.color}}Stone.png" />
			<div class="liberties">
				{{place.groupLiberties || ""}}
			</div>
		</div>
	</div>
	-->
</body>
</html>
