<!doctype html>
<html lang="en" ng-app="myGoApp">
<head>
	<meta charset="utf-8">
	<title>MyGo</title>
	<link rel="stylesheet" href="css/app.css"/>
</head>
<body>
	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
	
	<style type="text/css">
		table.board {
			border: 1px solid black;
			border-collapse: collapse;
			
		}
		
		table.board td {
			border: 1px solid black;
			width: 90px;
			height: 90px;
			text-align: center;
			vertical-align: middle;
		}
	</style>
	
	<div ng-controller="goBoard">
		{{board}}
		<table class="board">
			<tr ng-repeat="row in board">
				<td ng-repeat="place in row">
					{{place}}
				</td>
			</tr>
		</table>
		
		{{c}}
	</div>
</body>
</html>
